.navbar{
  background-color: aqua;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linklist{
  text-decoration: none;
  color: black;
}

